* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-container {
  background-color: #25262c;
  width: auto;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  place-items: center;
}
.icon {
  color: #f1f5f9;
  margin-right: 10px;
  font-size: 30px;
}
.text-editor-container {
  background-color: #1b1c22;
  padding: 20px;
  justify-content: center;
  width: 800px;
  display: flex;
}
.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  width: 400px;
  margin-top: 30px;
  height: 400px;
}
.main-heading {
  color: #ffffff;
  font-family: roboto;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}
.text-container {
  background-color: #334155;
  border-radius: 8px;
}
.icons {
  display: flex;
  padding: 10px;
  background-color: #25262c;
  border: 1px #334155 solid;
}
.text {
  background-color: #25262c;
  border: 1px #334155 solid;
  color: #ffffff;
  padding: 10px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
.active {
  color: #faff00;
}
.button {
  background-color: transparent;
  border: 0px;
}
li {
  list-style-type: none;
}
